@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

.news{
    width: 90%;
    margin-left: 5%;
    color: white;
    font-family: 'Share Tech', sans-serif;

}

.newsh1{
    color: white;
    font-size: 40px;
    text-decoration: underline;
}

.article{
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    padding: 50px;
    flex-grow: 1;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    transition: all 0.2s;
}

.article:hover{
    transform: scale(1.05);
    box-shadow: 5.25px 5.25px 10.5px black;
}

.article-flex{
    display: flex;
    justify-content: center;
    padding: 10px;
}

@media(max-width:800px){
    .article{
        padding: 20px;
    }
    .news{
        margin-left: 0;
        width: 100%;
    }
    .article-content{
        font-size: 20px;
    }
}

.date{
    font-size: 20px;
}