<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/wst.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    {% block head %}
        
    {% endblock %}
</head>
<body class="container-fluid">
    <nav>
            <div class="navbar">
                
                <span class="heading"><img src="{{url_for('static', filename='images/logo.png')}}" alt="logo" class="logo"> We Stand Together</span>
                <ul class="sidebar">
                    <li onclick=closesidebar()><a href="#" class="close-btn"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/learn">Learn</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
                <ul class="nav-item">
                    <li class="hideonmobile"><a href="/">Home</a></li>
                    <li class="hideonmobile"><a href="/news">News</a></li>
                    <li class="hideonmobile"><a href="/learn">Learn</a></li>
                    <li class="hideonmobile"><a href="/about">About Us</a></li>
                    <li class="menu-btn" ><a onclick=showsidebar() class="open-btn" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
                </ul>
            </div>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div class="mesg">
                <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span> 
                {{msg}}
              </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
        {% block content %}

        {% endblock %}
    </div>

    <footer class="footer">
        <div class="footer-div">
            <span>westandtogether@wst.com</span><br>
            <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo" class="footer-logo"><br>
            <span class="aa"><a href="/auth">Admin</a><br>We Stand Together © 2024</span>
        </div>
    </footer>
<script>
    const sidebar = document.querySelector('.sidebar');
    function showsidebar(){
        sidebar.style.display = 'flex';
    }

    function closesidebar(){
        sidebar.style.display = 'none';
    }
</script>
</body>
</html>