{% extends "learn.html" %}
{% block title %}CH1 | WST{% endblock %}
{% block head %}<link rel="stylesheet" href="{{url_for('static', filename='learn.css')}}"><link rel="stylesheet" href="{{url_for('static', filename='ch1.css')}}">{% endblock %}

{% block ch %}Chapter 1{% endblock %}
{% block para %}
<p>
<u>1.1 The Nature of the Threat</u><br>
The world is grappling with an enigmatic force that defies understanding. This unseen threat has manifested in a series of disruptive phenomena that are destabilizing our societies. While the exact cause remains unknown, the effects are tangible and widespread, affecting every aspect of our daily lives.
<br>
<br>
<u>1.2 Manifestations of the Threat</u><br>
The threat has presented itself in various forms, each with significant consequences:
<ul>
    <li>Communication Glitches: Interruptions in internet services, phone networks, and satellite communications. These glitches can cause dropped calls, slow internet speeds, and loss of satellite signals, making it difficult to stay connected.</li>
    <li>Power Outages: Sudden and widespread electrical failures. Entire cities are plunged into darkness without warning, affecting homes, businesses, and essential services.</li>
    <li>Infrastructure Malfunctions: Failures in critical infrastructure, including transportation systems, public utilities, and essential services. These failures disrupt daily life and can lead to dangerous situations.</li>
    <li>Psychological Impact: A pervasive sense of unease and anxiety among the global population. The constant uncertainty and disruptions take a toll on mental health, leading to increased stress and fear.</li>
</ul>
<br>
<p><u>1.3 The Global Impact</u><br>
These disruptions are not confined to any single region; they are occurring globally, affecting millions of people. The cumulative effect of these issues is straining resources and creating a climate of uncertainty and fear. Understanding the broad scope of this threat is essential for developing effective strategies to combat it.
</p>
{% endblock %}

{% block href %}
<a  href="/learn/ch2">Read Chapter 2</a>
{% endblock %}