c{% extends "learn.html" %}
{% block title %}CH1 | WST{% endblock %}
{% block head %}<link rel="stylesheet" href="{{url_for('static', filename='learn.css')}}"><link rel="stylesheet" href="{{url_for('static', filename='ch1.css')}}">{% endblock %}

{% block ch %}Chapter 5: Building Community Resilience{% endblock %} <br>
{% block para %}
<p>
    <u>5.1 The Power of Community</u><br>
    In times of crisis, a strong community can provide support, resources, and a sense of security. Building and maintaining community ties is essential for resilience.
</p>
    <br>
<p><u>5.2 Building Support Networks
</u><br>
    <ul>
        <li>Stay Connected: Maintain regular contact with neighbors, friends, and family. Use social media, phone calls, and in-person visits to stay in touch.</li>
        <li>Collaborate: Share resources and skills to help each other cope with disruptions. Organize community meetings to discuss strategies and share information.</li>
    </ul>
</p><br>
<p>
    <u>5.3 Sharing Resources</u>
    <ul>
        <li>Food and Supplies: Organize community stockpiles and share essentials. Coordinate with local food banks and relief organizations.</li>
        <li>Information and Skills: Share knowledge and skills, such as first aid and emergency response. Conduct community training sessions to build collective expertise.</li>
    </ul>
</p><br>
<p>
    <u>5.4 Mental Health and Well-being</u>
    <ul>
        <li>Support Systems: Create a network of mental health support within your community. Offer counseling services and peer support groups.</li>
        <li>Activities: Organize community activities to maintain morale and provide distraction from stress. These can include social events, exercise groups, and creative workshops.</li>
    </ul>
</p><br>
<p>
    <u>5.5 Volunteering and Community Involvement</u>
    <ul>
        <li>Local Initiatives: Participate in local initiatives aimed at addressing the crisis. Volunteer your time and skills to community projects and relief efforts.</li>
        <li>Skill Sharing: Offer your skills and time to community efforts, whether in logistics, health, or education. Create a skills registry where community members can list their expertise and offer assistance.</li>
    </ul>
</p>
{% endblock %}

{% block href %}
<a  href="/">Finished</a>
{% endblock %}